body{
    font-family: -apple-system,'Inter','Noto Sans SC',sans-serif !important;
}
.post-entry , #post-card .card-title{
  font-family: 'Ubuntu','Inter','Noto Sans SC',sans-serif !important;
}
.header-title{
  font-family: 'Google Sans',-apple-system, system-ui,'Inter','Noto Sans SC',sans-serif !important;
}