@media (prefers-color-scheme: dark) {
  :root {
    --markdown-h1-border: #3c495b !important;
    --card-header: #3c495b !important;
    --table: transparent !important;
    --post-footer: #3c495b !important;
    --search: #fff !important;
    --timeline: #3c496b !important;
    --time-line-hover: hsla(0, 0%, 100%, 0.86) !important;
  }
  body {
    background-color: #181c27 !important;
    color: hsla(0, 0%, 100%, 0.86) !important;
  }

  a,
  a:visited {
    color: #3298dc !important;
  }

  a:active,
  a:focus,
  a:hover {
    color: #3298dc !important;
  }

  #post-content a,
  #post-content a:hover,
  #post-content a:focus,
  #post-content a:visited {
    color: #3298dc !important;
  }

  .post-entry .card-body a {
    color: #3298dc !important;
  }

  .avatar {
    background: #252d38 !important;
  }

  .navbar-link,
  .navbar-link:visited,
  .timeline .timeline-item .timeline-icon.icon-lg {
    color: hsla(0, 0%, 100%, 0.86) !important;
  }

  .navbar-link:hover {
    color: #3298dc !important;
    opacity: 0.8;
  }

  #search-input .btn,
  #disqus_click_btn,
  #disqus-switch-to-direct,
  #disqus-loadmore-button {
    background: #3298dc !important;
    border-color: #252d38 !important;
    color: #181c27 !important;
  }

  #post-toc a.post-toc-link,
  #post-toc a.post-toc-link:visited,
  .share-menu.menu .menu-item > a {
    color: #3298dc !important;
  }

  .share-menu.menu .menu-item > a:hover,
  .share-menu.menu .menu-item > a:focus,
  .share-menu.menu .menu-item > a:visited {
    color: #50596c !important;
    background: #252d38 !important;
    opacity: 0.85;
  }
  .card {
    background: #252d38 !important;
    border-color: #252d38 !important;
  }
  #post-content blockquote {
    color: hsla(0, 0%, 100%, 0.86) !important;
  }
  .highlight,
  .code {
    background-color: #3c495b !important;
    color: #abb2bf !important;
    text-shadow: none !important;
  }
  .post-license {
    background-color: #252d38 !important;
  }
  .v[data-class="v"] .vsys,
  .v[data-class="v"] .vtime {
    color: hsla(0, 0%, 100%, 0.86) !important;
  }
  .bg-gray {
    background: #303b49 !important;
  }
}
