@media (max-width: 481px) {
    header .text-center{
        text-align:left !important;
        padding: .2rem .8rem;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 28.4rem;
    }
    header {
        padding: 4.8rem 0.8rem 2.6rem;
    }
}
@media (max-width:768px){
    header .text-center{
        max-width: 33.5rem;
    }
    header .header-title{
        margin: 0px;
    }
    .not-display-mobile {
        display: none !important;
    }
    header img[alt=Avatar]{
        width: 120px !important;
    }
    header{
        padding-bottom:1rem!important;
        padding-top: 30px;
        padding-bottom: 0.4rem;
    }
    header .header-slogan{
        font-family: .9rem;
    }
    .display-on-mobile{
        display:block !important;
    }
    header .header-span{
        padding-left: 0 !important;
        padding-top:.2rem !important;
    }
    header nav{
        padding-top:.8rem !important;
    }
}
.display-on-mobile{
    display: none;
}
header .header-slogan{
    color: var(--markdown-backquote);
    padding:.0rem .2rem;
    margin-bottom: 0px;
}
header .header-span{
    display:inline-block;
    vertical-align:middle;
    padding-left: .4rem;
}
header img[alt=Avatar]{
    vertical-align:middle;
    border-radius:100%;
    width:100px;
}
header nav{
    padding-top:0.8rem;
}